body{
    font-family: "Roboto",sans-serif;
    color: #272c37;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
.heading{
    font-size: 24px;
    font-weight: 700;
    color: black;

}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
header{
    height: 100vh;
}
.para{
    font-size: 18px;
}
.mt-40{
    margin-top: 40px;
}
.px-50{
    padding-left: 50px;
    padding-right: 50px;
}
.-mx-50{
    margin-left: -50px;
    margin-right: -50px;
}
.center{
    margin-right: auto;
    margin-left: auto;
}
.ml-20{
    margin-left: 20px;
}
code{
    font-size: 18px;
    font-weight: bold;
}
